 h4{
    color: salmon;
    border: 2px solid red;
 }
 .trial{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: teal; 
}
.box{
    border: 2px solid blue;
    margin: 2% 40%;
    padding: 2%;
}7t